@use "../base/vars" as *;
@use "../base/mixins" as *;

// ======== nav layout ======== //
.main-nav {
  position: fixed;
  z-index: 100;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0 1rem;
  max-width: $max-width;
  height: 3rem;
  display: flex;
  background-color: black;
}

.main-nav .logo-main {
  display: none;
}

@media (min-width: $tablet) {
  .main-nav {
    top: 0;
    margin: 0 auto;
    padding: 0 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.2s ease;
  }
  .main-nav-scrolled {
    backdrop-filter: blur(2px);
  }

  .main-nav .logo-main {
    display: flex;
    align-items: center;
    width: 9rem;
    margin: 0;
    img {
      height: auto;
    }
  }
}

// ======== button-container ======== //

.main-nav .btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 400;
}

@media (min-width: $desktop) {
  .main-nav .btn-container {
    justify-content: space-between;
    padding-left: 2rem;
  }
}

// ======== search-bar ======== //
.search-bar {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.search-bar form {
  display: flex;
  justify-content: center;
}

.search-bar input::placeholder {
  color: white;
  font-weight: 100;
}

.search-bar input {
  @include normalize-object;
  width: 100%;
  margin-right: 1rem;
  outline: none;
  color: white;
  font-size: 20px;
}
@media (min-width: $tablet) {
  .search-bar {
    margin-left: 1rem;
    border-left: 3px solid white;
  }
  .search-bar input {
    margin-left: 0.5rem;
  }
}

// ======== btn-menu ======== //

.btn-menu {
  @include normalize-object;
  display: flex;
}

.btn-menu-desktop {
  display: none;
}

@media (min-width: $desktop) {
  .btn-menu {
    display: none;
  }

  .btn-menu-desktop {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    gap: 1rem;
    font-size: 20px;
  }
}

.btn-menu .fa-icon {
  font-size: 24px;
}
