@use "../base/vars" as *;
@use "../base/mixins" as *;

// ======== nav layout ======== //
.main-nav {
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100vw;
  padding: 0 1rem;
  max-width: $max-width;
  height: 2.5rem;
  display: flex;
  background-color: black;
}

.main-nav .logo-main {
  display: none;
}

@media (min-width: $tablet) {
  .main-nav {
    top: 0;
    margin: 0 auto;
    padding: 0 1rem;
    background-color: transparent;
    transition: background-color 0.2s ease;
  }
  .main-nav-scrolled {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
  }

  .main-nav .logo-main {
    display: flex;
    align-items: center;
    width: 10rem;
    margin-right: 0rem;
    img {
      height: auto;
    }
  }
}

// ======== button-container ======== //

.main-nav .btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 100;
}

@media (min-width: $desktop) {
  .main-nav .btn-container {
    justify-content: flex-end;
  }
}

// ======== search-bar ======== //
.search-bar {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  overflow: hidden;
}

.search-bar form {
  display: flex;
  justify-content: center;
}

.search-bar input::placeholder {
  color: white;
  font-weight: 100;
}

.search-bar input {
  @include normalize-object;
  width: 52px;
  margin-right: 1rem;
  outline: none;
  color: white;
  font-size: 12px;
}

// ======== btn-menu ======== //

.btn-menu {
  @include normalize-object;
  display: flex;
}

.btn-menu-desktop {
  display: none;
}

@media (min-width: $desktop) {
  .btn-menu {
    display: none;
  }

  .btn-menu-desktop {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    margin-right: 1rem;
    gap: 1rem;
    font-size: 12px;
  }
}

.btn-menu i {
  font-size: 14px;
}
