@use "../base/vars" as *;
@use "../base/mixins" as *;

// ======== nav layout ======== //
.main-nav {
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
  max-width: $max-width;
  height: 2.5rem;
  display: flex;
  background-color: black;
}

.main-nav .btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-nav .logo-main {
  display: none;
}

@media (min-width: $tablet) {
  .main-nav {
    top: 0;
    padding-left: 1rem;
    max-width: $max-width;
  }

  .main-nav .logo-main {
    display: flex;
    align-items: center;
    width: 10rem;
    margin-right: 2rem;
    img {
      height: auto;
    }
  }

  .main-nav .btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// ======== search-bar ======== //
.search-bar {
  margin-left: 0.5rem;
}

.search-bar form {
  display: flex;
  justify-content: center;
}

.search-bar i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
.search-bar input {
  @include normalize-object;
  border-bottom: 2px solid white;
  outline: none;
}

.search-bar input::placeholder {
  color: white;
}

// ======== btn-menu ======== //

.btn-menu {
  @include normalize-object;
  display: flex;
}

i:last-child {
  font-size: 1.5rem;
}
