@use "../base/vars" as *;
@use "../base/mixins" as *;

.page-nav {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  gap: 1rem;
}

.page-nav p,
.page-nav button {
  color: white;
  padding: 0.5rem;
  margin: 0;
}

.page-nav button {
  background-color: transparent;
  border: none;
}

.page-nav button.active {
  background-color: $primary-color; /* 원하는 하이라이트 색상 */
  color: white;
  font-weight: bold;
}
