//default settings for the div to cover
.end-animation {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
}

//grabing by svg elements
.svg-movie {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-15%, -60%);
  animation: fill 0.5s ease forwards 4s;
  height: 4%;
  width: 33%;
}

.svg-pin {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-60%, -60%);
  animation: appear 1s ease-out forwards 0.5s;
  height: 6%;
  width: 10%;
}

.svg-pin-word {
  position: absolute;
  top: 50%;
  left: 78%;
  transform: translate(-65%, -60%);
  animation: fill 0.5s ease forwards 5.2s; 
  height: 4%;
  width: 20%;
}


//starting to create the animation by playing with the dasrayy and dashofset
.svg-movie path:nth-child(1) {
  stroke-dashoffset: 130px;
  stroke-dasharray: 130px;
  animation: 3s  ease forwards 1.5s svg-movie-animation;
  }
  .svg-movie path:nth-child(2) {
    stroke-dashoffset: 130px;
    stroke-dasharray: 130px;
    animation: 3s  ease forwards 3s svg-movie-animation;
  }
  .svg-movie path:nth-child(3) {
    stroke-dashoffset: 130px;
    stroke-dasharray: 130px;
    animation: 3s  ease forwards 3s svg-movie-animation;
  }
  .svg-movie path:nth-child(4) {
    stroke-dashoffset: 130px;
    stroke-dasharray: 130px;
    animation: 3s  ease forwards 3s svg-movie-animation;
  }
  .svg-movie path:nth-child(5) {
    stroke-dashoffset: 160px;
    stroke-dasharray: 160px;
    animation: 3s  ease forwards 3s svg-movie-animation;
  }
  
  .svg-pin-word path:nth-child(1) {
    stroke-dashoffset: 128px;
    stroke-dasharray: 128px;
    animation: 3s  ease forwards 3s svg-movie-animation;
  }
  .svg-pin-word path:nth-child(2) {
    stroke-dashoffset: 128px;
    stroke-dasharray: 128px;
    animation: 3s  ease forwards 3s svg-movie-animation;
  }
  .svg-pin-word path:nth-child(3) {
    stroke-dashoffset: 128px;
    stroke-dasharray: 128px;
    animation: 3s  ease forwards 3s svg-movie-animation;
    
  }

  //stating animation @keyframes 

  @keyframes svg-movie-animation {
    to {
      stroke-dashoffset: 0%;
     
    }
  }
  
  @keyframes fill {
    from {
      fill: transparent;
    } 
    to {
      fill: white;
    }
  }
  
  @keyframes appear {
    from {
      opacity: 0;
      
    }
    to {
      opacity: 1;
     
    }
  }
  
  /* end the animation please */
  
  .end-animation {
  animation: animationPage 2.5s forwards ease-out 5s;
  display: block;
  }
  
  @keyframes animationPage {
    
    to {
    opacity: 0;
    }
  }
  

  //Media Queries

  @media (min-width: 26.37rem) {
    .svg-movie {
      top: 52.5%;
      left: 25%;
      transform: translate(-15%, -60%);
      height: 30%;
      width: 30%;
    }
    
    .svg-pin {
      top: 50%;
      left: 59%;
      transform: translate(-60%, -60%);
      width: 7%;
      height: 7%;
    }
    
    .svg-pin-word {
      top: 51%;
      left: 78%;
      transform: translate(-78%, -60%);
      height: 17%;
      width: 17%;
  }
}
  @media (min-width: 90rem) {
    .svg-movie {
      top: 52.5%;
      left: 25%;
      transform: translate(-15%, -60%);
      height: 30rem;
      width: 30rem;
    }
    
    .svg-pin {
      top: 50%;
      left: 59%;
      transform: translate(-50%, -60%);
      width: 10rem;
      height: 10rem;
    }
    
    .svg-pin-word {
      top: 50.7%;
      left: 78%;
      transform: translate(-78%, -60%);
      height: 16rem;
      width: 16rem;
  }
}