@use "vars" as *;
@use "mixins" as *;



body {
  background-color: $test-color;
  font-family: $primary-font;
  color: $text-primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {

}

a {
  color: $text-primary-color;
}

