$test-color: lightgray;

// theme-color
$primary-color: #ff0808;
$secondary-color: white;

// background-color
$bg-primary-color: #121212;
$bg-secondary-color: #b30000;

// text-color
$text-primary-color: white;
$text-secondary-color: black;

// font-family
$primary-font: monospace;
$secondary-font: monospace;
