$test-color: lightgray;

// theme-color
$primary-color: #c91215;
$secondary-color: white;

// background-color
$bg-primary-color: #343330;
$bg-secondary-color: #c91215;

// text-color
$text-primary-color: white;
$text-secondary-color: black;

// font-family
//embed futura
$primary-font: monospace;
$secondary-font: monospace;