$test-color: lightgray;

// theme-color
$primary-color: #ff0808;
$secondary-color: white;

// background-color
$bg-primary-color: #121212;
$bg-secondary-color: #b30000;
$bg-secondary-colo-fav: #d07777;

//background-color from wireframe
$bq-dark-grey: #333333;

// text-color
$text-primary-color: white;
$text-secondary-color: black;

// font-family
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
$primary-font: "Inter";
$secondary-font: monospace;

//boxshadow color for images
$box-shadow-color-black: black;


//color for background block favourites 
$background-favourites: rgb(61, 61, 61);

// Breakpoints
$mobile: 20em; // 320px
$tablet: 31.25em; // 500px
$desktop: 50em; // 800px
$max-width: 125em; // 2000px

// comment for dividing
// ======== main layout ======== //

