@use "../base/vars" as *;
@use "../base/mixins" as *;

body {
    background-color: $bg-dark-grey;
}

.about-image {
    width: 100%;
    height: auto;
    display: block;
    
}

.container-about p,
.container-about h2,
.container-about h1 {

    margin-left: 12px;
    margin-right: 12px;

}

.heading-text {
    color: $text-primary-color;
    font-size: 32px;
}

h2 {
    font-size: 18.72px;
}

p {
    font-size: 16 px;
}

.popcorn-image {
    display: none;
    
}

@media (min-width: 48rem){
    
    .about-image {
        width: 100%;
        // height: auto;
        height: 100vh;
        display: block;
        object-fit: cover;
    }


    .container-about {
        position: absolute;
        top: 0;
        max-width: 400px;
        // background-color: grey;
        margin-left: 1rem;
        margin-top: 3rem;
        // border: 2px solid black;
        
    }

    // .popcorn-image {
    //     display: block;
    //     width: 100%;
    //     height: auto;
    //     float: bottom;
    //     // filter: brightness(50%);
    //     position: relative;
        
    // }

    .about-mobile {
        display: block;
    }
}
   @media (min-width: 50em){
 

}



