@use "../base/vars" as *;
@use "../base/mixins" as *;

// ======== Fav Page layout ======== //

.main-favs {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.container-center {
  display: flex;
  justify-content: center;
}
// ======== setting background image ======== //
.background-fav {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.8);
}

// ======== Page Title ======== //
.main-favs h1 {
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}

@media (min-width: $tablet) {
  .main-favs {
    height: calc(100vh - 2.3rem);
  }
  .main-favs h1 {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    padding-left: 6rem;
  }
}

// ======== list-container ======== //
.cast-list-2 {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 0;
}

@media (min-width: $mobile-large) {
  .container-scroll-2 {
    display: flex;
    overflow-y: scroll;
    max-width: $max-width;
  }
  .cast-list-2 {
    display: grid;
    height: 70vh;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0 6rem;
  }
}

@media (min-width: $desktop) {
  .cast-list-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: $desktop-wide) {
  .cast-list-2 {
    grid-template-columns: repeat(4, 1fr);
  }
}

// ======== Movie-item style ======== //
.cast-member-photo-2 {
  border-radius: 1rem;
  box-shadow: 5px 5px 15px ($box-shadow-color-black);
}

.movie-title {
  margin-top: 0.5rem;
}

.cast-list-2 img {
  box-shadow: 1px 2px 5px ($box-shadow-color-black);
}

// ======== Hover state ======== //
.container-hover {
  display: none;
  position: relative;
  top: 0;
}

.cast-member-2 {
  position: relative;
}
.cast-member-2:hover .container-hover {
  display: block;
  position: absolute;
}
