@use "../base/vars" as *;
@use "../base/mixins" as *;

body {
  background-color: $bg-primary-color;
}

.main-home {
  display: flex;
  flex-direction: column;
}

.main-home h1 {
  margin: 0 0 2rem 0;
  text-align: center;
  text-transform: uppercase;
}

.sub-nav-container {
  // position: fixed;
  bottom: 3rem;
  width: 100%;
  background: linear-gradient(0deg, #333333 0%, rgba(142,42,42,1) 50%, #333333);

  // background-color: grey;
}

.category-nav {
  display: flex;
  padding: 0.5rem;
  overflow: scroll;
  justify-content: space-around;
  // white-space: nowrap;
  margin: 0 auto;
  width: 10rem;
}

// horizontal-scroll & hide bar
.category-nav::-webkit-scrollbar {
  display: none;
}
// horizontal-scroll & hide bar for firefox
.category-nav {
  scrollbar-width: none;
}

.category-nav button {
  color: white;
  border: none;
  background-color: transparent;
  padding: 4px 0.5rem;
  // margin: 0 2px;

  font-size: 1.5rem;
  margin: 0 1rem;
}

.btn-category.active {
  border-bottom: 4px solid $primary-color;
  font-weight: bold;
}
