@use "../base/vars" as *;
@use "../base/mixins" as *;

.main-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $max-content-width;
}

.page-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.page-search h2 {
  font-size: 1.5rem;
}

.page-search.no-result {
  img {
    position: absolute;
    z-index: -1;
  }
  p {
    text-align: center;
    font-weight: 400;
    margin: 0.5rem;
  }
}

.page-search.no-result h2 {
  padding-top: 5rem;
  @media (min-width: $tablet) {
    padding-top: 15rem;
  }
}

.page-search .result-container {
  width: 100%;
  padding: 1rem;
}

.result-container p {
  font-size: 1.2rem;
}
